<settings>
  <profiles>
    <profile>
      <id>ossrh</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
	    <gpg.homedir>/home/r</gpg.homedir>
        <gpg.keyname>262A5C79</gpg.keyname>
        <gpg.passphrase>lGQDn27IjddrIwV2JKWi</gpg.passphrase>
      </properties>
    </profile>   
  </profiles>
  <servers>
    <server>
      <id>ossrh</id>
      <username>msuret</username>
      <password>nqAAACR704jCIZQ5etNK</password>
    </server>
	<server>
      <id>github</id>
      <password>3aecb7d75fd6e0b40ada9330470e26d972c0d540</password>
	</server>
  </servers>
</settings>
